<form [formGroup]="formGroup" novalidate>
  <div class="row mx-auto" style="max-width: 500px">

    <div class="col-12">
      <mat-form-field class="w-100">
        <input formControlName="name" matInput maxlength="50" placeholder="Name">
      </mat-form-field>
    </div>

    <div class="col-12">
      <mat-form-field class="w-100">
        <input formControlName="price" matInput maxlength="20" placeholder="Price">
      </mat-form-field>
    </div>

    <div class="col-12">
      <mat-form-field class="w-100">
        <input formControlName="description" matInput maxlength="10" placeholder="Description">
      </mat-form-field>
    </div>

    <div class="col-12">
      <mat-form-field class="w-100">
        <input formControlName="quantity" matInput maxlength="10" placeholder="Quantity">
      </mat-form-field>
    </div>

    <div class="col-12">
      <mat-form-field class="w-100">
        <input formControlName="daysInAWeek" matInput maxlength="10" placeholder="Description">
      </mat-form-field>
    </div>

    <div class="col-12" class="w-100 h-25p"></div>

    <div class="col-12" class="w-100">
      <app-week-days-bussiness-hours [day]="{ name: 'Sun', data: formGroup.get('sun')}"></app-week-days-bussiness-hours>
    </div>

    <div class="col-12" class="w-100">
      <app-week-days-bussiness-hours [day]="{ name: 'Mon', data: formGroup.get('mon')}"></app-week-days-bussiness-hours>
    </div>

    <div class="col-12" class="w-100">
      <app-week-days-bussiness-hours [day]="{ name: 'Tue', data: formGroup.get('tue')}"></app-week-days-bussiness-hours>
    </div>

    <div class="col-12" class="w-100">
      <app-week-days-bussiness-hours [day]="{ name: 'Wed', data: formGroup.get('wed')}"></app-week-days-bussiness-hours>
    </div>

    <div class="col-12" class="w-100">
      <app-week-days-bussiness-hours [day]="{ name: 'Thu', data: formGroup.get('thu')}"></app-week-days-bussiness-hours>
    </div>

    <div class="col-12" class="w-100">
      <app-week-days-bussiness-hours [day]="{ name: 'Fri', data: formGroup.get('fri')}"></app-week-days-bussiness-hours>
    </div>

    <div class="col-12" class="w-100">
      <app-week-days-bussiness-hours [day]="{ name: 'Sat', data: formGroup.get('sat')}"></app-week-days-bussiness-hours>
    </div>

    <div class="col-12" class="w-100 h-25p"></div>

    <div class="col-12">
      <mat-form-field class="w-100">
        <input formControlName="startDate" matInput [matDatepicker]="startDate" placeholder="Choose a start date" >
        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
        <mat-datepicker touchUi="true" #startDate></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-12" class="w-100 h-15p"></div>

    <div class="col-12">
      <mat-checkbox formControlName="tillICancel">Active untill I cancel</mat-checkbox>
    </div>

    <div class="col-12" class="w-100 h-15p"></div>

    <div class="col-12" >
      <mat-form-field class="w-100">
        <input formControlName="endDate" matInput [matDatepicker]="endDate" placeholder="Choose a end date">
        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
        <mat-datepicker touchUi="true" #endDate></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-12" class="w-100 h-20p"></div>

    <div class="col-12">
      <mat-checkbox formControlName="useGPS">Use my present GPS location for accurate location</mat-checkbox>
    </div>

    <div class="col-12" class="w-100 h-30p"></div>

    <div class="col-12">
      <mat-checkbox formControlName="useProfileAddress">Use my profile address</mat-checkbox>
    </div>

    <div class="col-12" class="w-100 h-20p"></div>

    <div class="col-12">
      <mat-form-field class="w-100">
        <input formControlName="address1" matInput maxlength="10" placeholder="Address">
      </mat-form-field>
    </div>

    <div class="col-12">
      <mat-form-field class="w-100">
        <input formControlName="address2" matInput maxlength="10" placeholder="Address 2">
      </mat-form-field>
    </div>

    <div class="col-12">
      <mat-form-field class="w-100">
        <input formControlName="country" matInput maxlength="10" placeholder="Country">
      </mat-form-field>
    </div>

    <div class="col-12">
      <mat-form-field class="w-100">
        <input formControlName="state" matInput maxlength="10" placeholder="State">
      </mat-form-field>
    </div>

    <div class="col-12">
      <mat-form-field class="w-100">
        <input formControlName="city" matInput maxlength="10" placeholder="City">
      </mat-form-field>
    </div>

    <div class="col-12">
      <mat-form-field class="w-100">
        <input formControlName="postcode" matInput maxlength="10" placeholder="Postcode">
      </mat-form-field>
    </div>

    <div class="col-12" class="w-100 h-30p"></div>

    <div class="col-12 text-center">
      <button mat-raised-button (click)="save()">Save</button>
      <button mat-raised-button (click)="cancel()">Cancel</button>
    </div>

    <div class="col-12" class="w-100 h-50p"></div>
    
  </div>  
</form>
