<div class="card-columns">
  <div class="card border-dark mb-3 mx-auto" style="max-width: 20rem;">
    <div class="card-header">Food</div>
    <div class="card-body text-dark"> 
        <div class="card-text w-100">Breakfast<span class="badge badge-primary badge-pill float-right">1000</span></div>
        <div class="card-text w-100">Launch<span class="badge badge-primary badge-pill float-right">300</span></div>
        <div class="card-text w-100">Chutney<span class="badge badge-primary badge-pill float-right">900</span></div>
        <div class="card-text w-100">Snacks<span class="badge badge-primary badge-pill float-right">500</span></div>
        <div class="card-text w-100">Dinner<span class="badge badge-primary badge-pill float-right">155</span></div>
    </div>
  </div>
  <div class="card border-dark mb-3 mx-auto" style="max-width: 20rem;">
    <div class="card-header">Diary</div>
    <div class="card-body text-dark"> 
        <div class="card-text w-100">Milk<span class="badge badge-primary badge-pill float-right">1000</span></div>
        <div class="card-text w-100">Ghee<span class="badge badge-primary badge-pill float-right">300</span></div>
        <div class="card-text w-100">Butter<span class="badge badge-primary badge-pill float-right">900</span></div>
        <div class="card-text w-100">Curd<span class="badge badge-primary badge-pill float-right">500</span></div>
        <div class="card-text w-100">Grinded Curd<span class="badge badge-primary badge-pill float-right">155</span></div>
    </div>
  </div>
  <div class="card border-dark mb-3 mx-auto" style="max-width: 20rem;">
    <div class="card-header">Vegitables</div>
    <div class="card-body text-dark"> 
        <div class="card-text w-100">Organic<span class="badge badge-primary badge-pill float-right">1000</span></div>
        <div class="card-text w-100">Non Organic<span class="badge badge-primary badge-pill float-right">300</span></div>
        <div class="card-text w-100">Natural<span class="badge badge-primary badge-pill float-right">900</span></div>
    </div>
  </div>
  <div class="card border-dark mb-3 mx-auto" style="max-width: 20rem;">
    <div class="card-header">Domestic Helpers</div>
    <div class="card-body text-dark"> 
        <div class="card-text w-100">Electrician<span class="badge badge-primary badge-pill float-right">1000</span></div>
        <div class="card-text w-100">Plumber<span class="badge badge-primary badge-pill float-right">300</span></div>
        <div class="card-text w-100">Painter<span class="badge badge-primary badge-pill float-right">900</span></div>
    </div>
  </div>
  <div class="card border-dark mb-3 mx-auto" style="max-width: 20rem;">
    <div class="card-header">Handicraft</div>
    <div class="card-body text-dark"> 
        <div class="card-text w-100">Tailor<span class="badge badge-primary badge-pill float-right">1000</span></div>
        <div class="card-text w-100">Potter<span class="badge badge-primary badge-pill float-right">300</span></div>
        <div class="card-text w-100">Oiler<span class="badge badge-primary badge-pill float-right">900</span></div>
    </div>
  </div>
</div>
