<app-top-menu>
</app-top-menu>

<div class="container">

  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="{{navmode}}" opened="{{navopened}}">
      Jolly good!
    </mat-sidenav>

    <div class="dudime-sidenav-content">
      <div class="row">
        <div class="col">
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              
        </div>
      </div>
    </div>

  </mat-sidenav-container>

</div>
