.week-headers-align .mat-expansion-panel-header-title, 
.week-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.week-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items:flex-start;
}
