<form [formGroup]="time" novalidate>
  <div class="row no-gutters align-items-center">  
    <div class="col col-auto">
      <div>
        <button mat-icon-button>
          <mat-icon fontSet="fa" fontIcon="fa-arrow-up" aria-hidden="false" (click)="addHour(h.value)"></mat-icon>
        </button>
      </div>
      <div class="ta-center">
        <input #h formControlName="h" matInput style="width: 20px">
      </div>
      <div>
          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-arrow-down" aria-hidden="false" (click)="reduceHour(h.value)"></mat-icon>
          </button>
      </div>
    </div>
    <div class="col col-auto">:</div>
    <div class="col col-auto">
      <div>
          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-arrow-up" aria-hidden="false" (click)="addMinute(m.value)"></mat-icon>
          </button>
      </div>
      <div class="ta-center">
        <input #m formControlName="m" matInput style="width: 20px">
      </div>
      <div>
          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-arrow-down" aria-hidden="false" (click)="reduceMinute(m.value)"></mat-icon>
          </button>
      </div>
    </div>
  </div>
</form>
