<mat-dialog-content>
  <form [formGroup]="formGroup" novalidate>
    <div class="row no-gutters">
      <div class="col ta-center">
          From Time
      </div>
      <div class="col ta-center">
          To Time
      </div>
    </div>

    <div class="row no-gutters justify-content-center align-items-center">
      <div class="col col-auto ta-center">
        <app-time-picker class="col" [time]="formGroup.get('from')"></app-time-picker>
      </div>
      <div class="col col-auto ta-center" style="width:20px">
        -
      </div>
      <div class="col col-auto ta-center">
        <app-time-picker class="col" [time]="formGroup.get('to')"></app-time-picker>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="mx-auto">
    <button mat-button [mat-dialog-close]="true">Close</button>
  </div>
</mat-dialog-actions>
