<mat-dialog-content>
  <form [formGroup]="formGroup" novalidate>
    <div class="row no-gutters">
      <div class="col text-center">
        <button class="bold" mat-raised-button disabled>From Time</button>
      </div>
      <div class="col text-center">
        <button class="bold" mat-raised-button disabled>To Time</button>
      </div>
    </div>

    <div class="row no-gutters justify-content-center align-items-center">
      <div class="col col-auto text-center">
        <app-time-picker class="col" [time]="formGroup.get('from')"></app-time-picker>
      </div>
      <div class="col col-auto text-center" style="width:20px">
        -
      </div>
      <div class="col col-auto text-center">
        <app-time-picker class="col" [time]="formGroup.get('to')"></app-time-picker>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="mx-auto">
    <button mat-raised-button color="accent" [mat-dialog-close]="true">Apply</button>
    <button mat-raised-button color="warn" [mat-dialog-close]="false">Cancel</button>
  </div>
</mat-dialog-actions>
